<mat-toolbar>
  <button
    [routerLink]="'/'"
    mat-icon-button
    color="primary"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon>storefront</mat-icon>
  </button>
  <span class="mr20">NgCommerce</span>
  <button mat-button color="basic" [routerLink]="'/products'">Products</button>
  <button mat-button color="basic" [routerLink]="'/users'">Users</button>
  <span class="example-spacer"></span>

  <button
    *ngIf="!isLoggedin"
    mat-raised-button
    color="primary"
    [routerLink]="'/login'"
  >
    Login
  </button>
  <button
    *ngIf="!isLoggedin"
    mat-raised-button
    color="primary"
    [routerLink]="'/signup'"
  >
    Sign up
  </button>
  <button *ngIf="isLoggedin" mat-raised-button [routerLink]="'/contact'">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="mail"
    ></mat-icon>
    Contact Us
  </button>
  <button *ngIf="isLoggedin" mat-raised-button [routerLink]="'/orders'">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="shopping_cart"
    ></mat-icon>
    orders
  </button>
  <button
    *ngIf="isLoggedin"
    mat-raised-button
    color="primary"
    [routerLink]="'/signup'"
    (click)="logout()"
  >
    Log out
  </button>
</mat-toolbar>

<!-- -->
