<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>

<div class="avatar-container text-center mx-auto">
  <div class="col-sm-4" style="padding-left: 0% !important">
    <div class="card-up aqua-gradient">
      <img
        src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg"
        class="rounded-circle img-responsive bg-dark p-3 image"
        alt="woman avatar"
      />
    </div>
  </div>
  <!-- Content -->
  <div class="card-body col-sm-8">
    <!-- Name -->
    <h1 class="card-title font-weight-bold">{{ user?.username }}</h1>
    <mat-divider></mat-divider>

    <hr />
    <!-- Quotation -->
    <div style="text-align: left">
      <p class="items-align">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="person"
        ></mat-icon>
        {{ user?.firstname }} {{ user?.lastname }}
      </p>
      <p class="items-align">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="mail"
        ></mat-icon>
        {{ user?.email }}
      </p>
      <p class="items-align">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="phone"
        ></mat-icon>
        {{ user?.phone }}
      </p>
      <p class="items-align">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="calendar_month"
        ></mat-icon>
        {{ user?.birthday }}
      </p>
    </div>
  </div>
</div>
