.aqua-gradient {
    height: 300px;
    background: linear-gradient(90deg, #212121 0%, #212121 0%, #f5f0f0 50%, #c2185b 93%);
}

.card-up {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.avatar-container {
    background-color: var(--mat-toolbar-container-background-color);
    width: 70%;
    color: white;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;

}

.bg-dark {
    background-color: var(--mat-toolbar-container-background-color) ! important;
}

.items-align {
    display: flex;
    align-items: center;
}

.mat-icon {
    margin-right: 10px !important;
}